<h2>Details</h2>
<div class="brief-details">
{{subject}} ({{base}})<br>
{{awarding_body}}<br>
{{qualification}}
</div>

<div class="units">
  Units:
  {{#units}}
    <div class="unit">
      {{code}} - {{title}}<br>
      {{#boundaries}}
        {{season}} boundaries (max. scaled mark {{max_scaled_mark}}) - {{humanifyBoundaries boundaries}}<br>
      {{/boundaries}}
      {{#exams}}
        {{season}} - {{date}}, {{start_time}} - {{duration}} long<br>
      {{/exams}}
      {{#sub_units}}
        SUBUNIT {{code}} - {{title}}<br>
        {{#boundaries}}
          {{season}} boundaries (max. scaled mark {{max_scaled_mark}}) - {{humanifyBoundaries boundaries}}<br>
        {{/boundaries}}
        {{#exams}}
          {{season}} - {{date}}, {{start_time}} - {{duration}} long<br>
        {{/exams}}
      {{/sub_units}}
    </div>
  {{/units}}
</div>
